/* RESETS */
html, body, h1, h3, section, ul, li, p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

textarea {
  display: inline-block;
  -webkit-appearance: none;
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  box-sizing: content-box;
}

button {
  display: inline;
  -webkit-appearance: none;
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  background: transparent;
  cursor: pointer;
}

/* GENERAL STYLING */
body {
  font-family: sans-serif;
  font-weight: 300;
  overflow: hidden;
}

h1 {
  margin: 20px 0;
  font-size: 40px;
  text-align: center;
}

ul {
  list-style: none;
}

::selection {
  background: lightgreen;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* CHAT CAROUSEL */
ul.all-chats {
  position: relative;
  width: 100%;
  height: 400px;
  left: 50%;
  margin: 50px 0;
  margin-left: -250px;
  transition: left 1s;
}

ul.all-chats > li {
  position: relative;
  float: left;
  margin: 0 50px;
  margin-top: 75px;
  width: 300px;
  height: 250px;
  opacity: 0.5;
  overflow: hidden;
  cursor: pointer;
}

ul.all-chats > li:hover {
  opacity: 0.7;
}

ul.all-chats > li.active {
  margin-top: 50px;
  height: 300px;
  opacity: 1;
  transition: height 1s;
  cursor: auto;
}

ul.all-chats p {
  margin: 10px 0;
  line-height: 1.5;
}

form > textarea {
  width: 100%;
  height: 36px;
  padding: 10px;
  background: #eee;
  box-sizing: border-box;
}

p#error {

}

/* MAIN CHAT */
ul.all-chats > li.main-chat {
  margin-top: 0;
  width: 550px;
  height: 400px;
  background: none;
  overflow: hidden;
}

article.chat-box {
  width: 360px;
  height: 324px;
  padding: 20px;
  background: lightblue;
  overflow: scroll;
}

ul.all-chats > li.main-chat textarea {
  width: 400px;
}

/* LIST OF CHATTERS */
ul.chatters {
  position: absolute;
  top: 25px;
  right: 0;
  width: 130px;
  max-height: 350px;
  padding: 10px;
  background: #eee;
}

ul.chatters > li {
  margin: 5px 0;
  padding: 2px 0;
  background: none;
  cursor: pointer;
}

ul.all-chats > li.active > ul.chatters > li:hover {
  background: lightgreen;
  transition: none;
}

ul.chatters > li.self {
  font-weight: 700;
  background: none;
  cursor: default;
}

@-webkit-keyframes change-feedback {
  0% {
    background: rgb(180, 180, 252);
  }

  50% {
    background: rgb(216, 216, 255);
  }

  75% {
    background: lavender;
  }

  100% {
    background: #eee;
  }
}

ul.chatters > li.changed {
  -webkit-animation: change-feedback 1s infinite;
}

/* BUTTONS */
ul.buttons {
  width: 132px;
  margin: auto;
}

ul.buttons > li {
  float: left;
  margin: 0 10px;
  padding: 0 5px;
  font-size: 40px;
  color: #fff;
  background: lightgreen;
  border-radius: 25px;
  cursor: pointer;
}

ul.buttons > li.left {
  padding-left: 7px;
}

ul.buttons > li.right {
  padding-right: 7px;
}

ul.buttons > li:hover {
  background: rgb(0, 255, 0);
}

ul.buttons > li.inactive {
  background: #ccc;
  cursor: default;
}