footer {
  width: 198px;
  margin: auto;
}

/* BUTTONS */
ul.buttons > li {
  float: left;
  margin: 0 10px;
  padding: 0 5px;
  font-size: 40px;
  color: #fff;
  background: lightgreen;
  border-radius: 25px;
  cursor: pointer;
}

ul.buttons > li.left {
  padding-left: 7px;
}

ul.buttons > li.right {
  padding-right: 7px;
}

ul.buttons > li:hover {
  background: rgb(0, 255, 0);
}

ul.buttons > li.help {
  background: pink;
}

ul.buttons > li.help:hover {
  background: rgb(255, 155, 173);
}

ul.buttons > li.inactive {
  background: #ccc;
  cursor: default;
}

/* MODAL */
footer > article.help-info {
  display: none;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  left: 50%;
  margin-left: -180px;
  width: 260px;
  padding: 30px 50px;
  background: #fff;
  z-index: 100;
  transition: top 0.7s;
}

footer > article.help-info.slide-in {
  top: 50%;
}

footer.help > div#help-modal,
footer.help > article.help-info {
  display: block;
  opacity: 1;
}

footer.help > .fade-out {
  transition: opacity 0.7s;
}

footer.help > article.fading-out,
footer.help > div#help-modal.fading-out {
  opacity: 0;
}

/* MODAL CONTENT */
article.help-info > h3 {
  margin: 10px 0;
  font-size: 28px;
  font-weight: 500;
}

article.help-info > ul {
  margin: 10px 0;
}

article.help-info > ul > li {
  margin: 15px 0;
  line-height: 1.5;
  font-size: 18px;
}