main {
  position: relative;
  width: 100%;
  min-width: 1000px;
  margin: 100px auto;
}

/* Modal */
.modal-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: lightblue;
}

/* Nickname form */
.nickname-form {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

.nickname-form > h2 {
  font-size: 40px;
}

.nickname-form > input {
  display: block;
  width: 360px;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px 15px;
  text-align: center;
  font-size: 40px;
  background: #fff;
  border-bottom: 1px solid #000;
}

.nickname-form > .errors {
  font-size: 18px;
  color: #990000;
}

/* Main header */
.main-header {
  position: relative;
  left: 0;
  z-index: 2;

  width: 50%;
  margin: 50px 0;
  text-align: center;
}

h2 > strong {
  font-family: sans-serif;
}

/* Chats */
.all-chats {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;

  width: 50%;
}

/* Main chat */
.main-chat > form {
  float: left;
}

.main-chatroom {
  width: 300px;
  height: 300px;
  padding: 30px;
  background: lightblue;
}

.main-chatroom p {
  line-height: 1.2;
}

.main-chatroom p:not(:last-child) {
  margin-bottom: 10px;
}

.main-chatroom strong {
  font-weight: 600;
}

.message-input {
  width: 330px;
  height: 20px;
  padding: 15px;
  background: #eee;
}

/* Chatters */
.chatters {
  position: relative;
  top: 30px;
  float: left;
  min-width: 100px;
  padding: 10px 15px;
  background: #eee;
}

.chatters > li {
  margin: 5px 0;
}
