/* Modal */
.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: lightblue;
  opacity: 0.7;
  z-index: 100;
  transition: opacity 0.5s;
}

.opaque {
  opacity: 1;
  transition: opacity 1s;
}

.modal-cover.fade-out {
  opacity: 0;
}

/* Nickname form */
.nickname-form {
  position: absolute;
  top: 21px;
  width: 100%;
  text-align: center;
  z-index: 200;

  transition: top 1s;
}

.nickname-form.initial {
  top: 30%;
}

.nickname-form > h2 {
  font-size: 40px;
  opacity: 1;
  transition: opacity 1s;
}

.nickname-form > input {
  display: block;
  width: 360px;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px 15px;
  text-align: center;
  font-size: 40px;
  background: #fff;
  border-bottom: 1px solid #000;
  opacity: 1;
  transition: opacity 1s;
}

.nickname-form > .error {
  font-size: 18px;
  color: #990000;
}

/* Nickname form transitions */
.nickname-form.enter-room {
  top: -27px;
}

.enter-room > h2 {
  opacity: 0;
}

.enter-room > input.fade-away {
  opacity: 0;
}

/* Help */
.help-info {
  display: none;

  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);

  width: 300px;
  padding: 30px;
  background: #fff;
  box-shadow: 2px 2px 5px lightblue;
  z-index: 200;
  transition: top 0.5s, opacity 0.5s;
}

.help-info.enter {
  top: 40%;
}

.help-info.leave {
  opacity: 0;
}

.help-info > h2 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 5px;
}

.help-info > ul > li {
  margin: 15px 0;
}
