/* PRIVATE CHAT BOX */
ul.all-chats > li > h3 {
  position: relative;
  display: block;
  padding: 5px 10px;
  font-size: 18px;
  color: lavender;
  background: lavender;
}

ul.all-chats > li > h3 > strong {
  position: absolute;
  bottom: -7px;
  left: 10px;
  font-weight: 300;
  font-size: 32px;
  color: #000;
}

ul.all-chats > li > p.guest-left {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

article.convo {
  height: 223px;
  padding: 5px 10px;
  background: pink;
  overflow: scroll;
}

strong.x {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0 3px;
  font-size: 20px;
  color: #fff;
  background: none;
  border-radius: 15px;
  cursor: pointer;
}

strong.x:hover {
  background: rgb(164, 164, 209);
}