/* PRIVATE CHAT BOX */
ul.all-chats > li > h3 {
  display: block;
  padding: 5px 10px;
  font-size: 18px;
  background: lavender;
}

ul.all-chats > li > p.guest-left {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

article.convo {
  height: 223px;
  padding: 5px 10px;
  background: pink;
  overflow: scroll;
}

strong.x {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 0 2px;
  padding-right: 1px;
  color: #fff;
  background: none;
  border-radius: 15px;
  cursor: pointer;
}

strong.x:hover {
  background: #D3008F;
}